<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Welcome to Diamond K Designs!</h2>
  <h3>Featured Items</h3>

  <!-- Display featured items -->
  <div class="featured-grid">
  {% if featured_items %}
      {% for item in featured_items %}
        <div class="featured_items">
          <h4>{{ item.title }}</h4>
          <p>{{ item.description }}</p>
          <img src="{% static 'featured_items/' %}{{ item.image }}" alt="{{ item.title }}">
        </div>
      {% endfor %}
  {% endif %}
  </div>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
