<!--about html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - Diamond K Designs{% endblock %}

{% block content %}
  <h2>About Us</h2>
  <h3>History</h3>
  <p class="history">
    The Diamond K brand is a brand that was once used for cattle. 
    I picked up the brand for my site as it ties back to my childhood.
    I picked up doing window decals and custom shirts after I was injured fighting wildfires.
    My injury ended my career so I picked up what started out to be a hobby but has grown into a bussiness.
  </p>
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

{% endblock %}