* {background-color: slategray;}
body {
    font-family: 'Arial', sans-serif; 
}

h2 {
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

img:hover {
    height: 200px;
    width: 200px;
}