<!--contact html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us - Diamond K Designs{% endblock %}

{% block content %}
  <h2>Contact Us</h2>
  <div>
    <h3>Address: </h3>
    <p>
      This is my company address
    </p>
    <h3>Phone: </h3>
    <p>
      1 (123) 456 - 7890
    </p>
    <h3>Email: </h3>
    <p>
      diamondkdesigns@example.com
    </p>
  </div>
  
  <p>Feel free to reach out to us for any inquiries or collaborations!</p>

  <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

{% endblock %}