{% extends 'base.html' %}

{% block title %}Web Design - Diamond K Designs{% endblock %}

{% block content %}
  <h2>Check out our Web Design Projects</h2>

  <!-- Display web design projects -->
  {% if web_projects %}
    <ul>
      {% for project in web_projects %}
        <li>
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
          <img src="{{ project.screenshot.url }}" alt="{{ project.title }}">
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No web design projects available.</p>
  {% endif %}
{% endblock %}
